body {
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
}

header h1 {
  color: #b5b5b5;
}

.image-circle {
  border-radius: 50%;
}

/* Widget Style biar tetep mirip versi lama */
.widget-box {
  border: 1px solid #eee;
  margin-bottom: 20px;
  border-radius: 8px;
}
.widget-box .title {
  padding: 10px 16px;
  background-color: #428bca;
  color: #d4bf7e;
  border-radius: 8px 8px 0 0;
}
.widget-box li a:hover {
  background-color: #e89b9b;
}